
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("Assets/rain.gif");
  }

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
  }

  .button {
    position: absolute;
    width: 150px;
    top: 10px;
  }

  #about {
    left: 20px;
  }

  #other {
    left: 165px;
  }

  #socials {
    left: 310px;
  }

  .fish {
    top: 25px;
    left: 463px;
    height: 42px;
    width: 200px;
    position: absolute;
    border: 2px silver inset;
  }

  .clock {
    top: 25px;
    background-color: blue;
    left: 673px;
    padding-top: 7px;
    height: 35px;
    width: 493;
    border: 2px silver inset;
    position: absolute;
  }

  .sillybutton {
    position: absolute;
    top: 22px;
    left: 1173px;
  }

  .chillin {
    padding-top: 2px;
    height: 40px;
    position: relative;
    top: 24px;
    left: 1330px;
  }
