html, body {
    width: 100%;
    height: 100%;
}

.button {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.computer {
height: 20%;
}

