
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("other/rain.gif");
  }

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
  }

  
a {
    text-decoration: underline;
    color: red;
}

#back {
    position: absolute;
    color: red;
    margin-top: 95vh;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin-left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.othertext {
    width: 400px;
    position: absolute;
    z-index: 10;
    margin-left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}